* {
    text-align: center;
  }
  
  a {
    color: red;
  }

  a:hover {
    color: blue; 
  }

  a.homeLink {
    color: blue; 
  }
  
  a.inlineLink {
    color: blue; 
  }

  .paragraph {
    color: grey
  }

  img{
    height: 400px;
    border-radius: 10%;
  }